#ch{
    width: 500px;
    background-color: aqua;
}

#video{
    display: center;
    width: 500px;
}

#Ad-fee {
    margin-top: 2 ;
    margin-left: 8px;
    text-decoration: underline;
}
#member{
    margin-top: 5px;
}